td {
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: lightgray;
  font-size: 80px;
  cursor: pointer;
}

* {
    transition: 1s;
}